# .gitconfig

[user]
	name        = fuzz1210
	email       = fuzz1210@gmail.com
[core]
	editor      = vim
[color]
	ui          = true
[color "status"]
	added       = green
	changed     = yellow
	unmerged    = yellow
	untracked   = red
[color "diff"]
	meta        = yellow
	frag        = cyan
	old         = red
	new	        = green
[color "grep"]
	linenumber  = yellow
	match       = bold red
	separator   = white
	filename    = cyan
[log]
	date        = iso
[diff]
	compactionHeuristic = true
	renames             = true
	tool                = vimdiff
[difftool]
	prompt      = false
[commit]
	verbose     = true
[merge]
	ff            = false
	conflictstyle = diff3
[mergetool]
	prompt        = false
	keepBackup    = false
[pull]
	ff          = only
[push]
	default     = current
[pager]
	log         = diff-highlight | less
	show        = diff-highlight | less
	diff        = diff-highlight | less
[alias]
	cf          = config
	cfg         = config --global
	sh          = show
	l           = log --graph --abbrev-commit --date=short --date-order --find-renames --pretty=format:'%C(bold blue)%h%Creset %C(bold cyan)%ad%Creset %C(cyan)(%ar)%Creset %C(bold green)%an%Creset%C(bold yellow)%d%Creset%n~ %C(white)%s%Creset%n'
	la          = log --graph --abbrev-commit --date=short --date-order --find-renames --pretty=format:'%C(bold blue)%h%Creset %C(bold cyan)%ad%Creset %C(cyan)(%ar)%Creset %C(bold green)%an%Creset%C(bold yellow)%d%Creset%n~ %C(white)%s%Creset%n' --all
	ls          = log --graph --abbrev-commit --date=short --date-order --find-renames --pretty=format:'%C(bold blue)%h%Creset %C(bold cyan)%ad%Creset %C(cyan)(%ar)%Creset %C(bold green)%an%Creset%C(bold yellow)%d%Creset%n~ %C(dim white)%s%Creset%n' --stat
	ln          = log --graph --abbrev-commit --date=short --date-order --find-renames --pretty=format:'%C(bold blue)%h%Creset %C(bold cyan)%ad%Creset %C(cyan)(%ar)%Creset %C(bold green)%an%Creset%C(bold yellow)%d%Creset%n~ %C(dim white)%s%Creset%n' --name-status
	b           = branch -vv
	c           = checkout
	s           = status --branch --short
	a           = add
	r           = reset
	rs          = reset --soft
	rm          = reset --mixed
	rh          = reset --hard
	r1          = reset --mixed HEAD^
	rs1         = reset --soft HEAD^
	rm1         = reset --mixed HEAD^
	rh1         = reset --hard HEAD^
	d           = diff -w
	dn          = diff -w --name-status
	ds          = diff -w --staged
	dns         = diff -w --name-status --staged
	dt          = difftool
	dts         = difftool --staged
	g           = grep --full-name -nI
	gi          = grep --full-name -nIi
	bl          = blame
	cm          = commit
	cmm         = commit --message
	f           = fetch --prune
	m           = merge
	mt          = mergetool
	rb          = rebase
	rbi         = rebase --interactie
	cp          = cherry-pick
	pl          = pull
	plr         = pull --rebase
	ps          = push
